# While loop

In [1]:
x = 0
while x < 5:
    print("Not there yet, x=" + str(x))
    x = x + 1
print("x=" + str(x))

Not there yet, x=0
Not there yet, x=1
Not there yet, x=2
Not there yet, x=3
Not there yet, x=4
x=5

In [1]:
def attempts(n):
    x = 1
    while x <= n:
        print("Attempt "+ str(x))
        x += 1 #Same as x = x + 1
    print("Done")

In [2]:
attempts(5)

Attempt 1
Attempt 2
Attempt 3
Attempt 4
Attempt 5
Done

In [3]:
my_variable = 5
while my_variable < 10:
    print("Hello")
    my_variable += 1

Hello
Hello
Hello
Hello
Hello

# For Loop

In [6]:
for x in range(5):
    print(x)

0
1
2
3
4

In [8]:
friends = ['Taylor', 'Alex','Pat','Eli']
for friend in friends:
    print("Hi " + friend)

Hi Taylor
Hi Alex
Hi Pat
Hi Eli

In [9]:
values = [23,52,59,37,48]
sum = 0
length = 0
for value in values:
    sum += value
    length += 1
print("Total sum: " + str(sum) + " - Average: " + str(sum/length))

Total sum: 219 - Average: 43.8

In [1]:
product = 1
for n in range(1,10):
    product = product * n
print(product)

362880

In [2]:
def to_celsius(x):
    return (x-32)*5/9

for x in range(0,101,10):
    print(x, to_celsius(x))

0 -17.77777777777778
10 -12.222222222222221
20 -6.666666666666667
30 -1.1111111111111112
40 4.444444444444445
50 10.0
60 15.555555555555555
70 21.11111111111111
80 26.666666666666668
90 32.22222222222222
100 37.77777777777778

# Nested for Loops

In [3]:
for left in range(7):
    for right in range(left,7):
        print("[" + str(left) + "|" + str(right) + "]" , end=" ")
    print()
    
#Domino

[0|0] [0|1] [0|2] [0|3] [0|4] [0|5] [0|6]
[1|1] [1|2] [1|3] [1|4] [1|5] [1|6]
[2|2] [2|3] [2|4] [2|5] [2|6]
[3|3] [3|4] [3|5] [3|6]
[4|4] [4|5] [4|6]
[5|5] [5|6]
[6|6]

In [4]:
teams = ['Dragons','Wolves','Pandas','Unicorns']
for home_team in teams:
    for away_team in teams:
        if home_team != away_team:
            print(home_team + " VS " + away_team)

Dragons VS Wolves
Dragons VS Pandas
Dragons VS Unicorns
Wolves VS Dragons
Wolves VS Pandas
Wolves VS Unicorns
Pandas VS Dragons
Pandas VS Wolves
Pandas VS Unicorns
Unicorns VS Dragons
Unicorns VS Wolves
Unicorns VS Pandas

In [5]:
def greet_friends(friends):
    for friend in friends:
        print("Hi "+ friend)
greet_friends(['Taylor','Luisa','Jamaal','Eli'])

Hi Taylor
Hi Luisa
Hi Jamaal
Hi Eli

# Recursion (Optional)

In [6]:
def factorial(n):
    if n < 2:
        return 1
    return n * factorial(n-1)

In [9]:
factorial(1)

1

In [8]:
factorial(8)

40320

In [10]:
factorial(7)

5040

In [14]:
def factorial(n):
    print("Factorial called with" + str(n))
    if n < 2:
        print("Returning 1")
        return 1
    result = n * factorial(n-1)
    print("Returning " + str(result) + " for factorial of " + str(n))
    return result

In [15]:
factorial(4)

Factorial called with4
Factorial called with3
Factorial called with2
Factorial called with1
Returning 1
Returning 2 for factorial of 2
Returning 6 for factorial of 3
Returning 24 for factorial of 4

24

In [16]:
factorial(21)

Factorial called with21
Factorial called with20
Factorial called with19
Factorial called with18
Factorial called with17
Factorial called with16
Factorial called with15
Factorial called with14
Factorial called with13
Factorial called with12
Factorial called with11
Factorial called with10
Factorial called with9
Factorial called with8
Factorial called with7
Factorial called with6
Factorial called with5
Factorial called with4
Factorial called with3
Factorial called with2
Factorial called with1
Returning 1
Returning 2 for factorial of 2
Returning 6 for factorial of 3
Returning 24 for factorial of 4
Returning 120 for factorial of 5
Returning 720 for factorial of 6
Returning 5040 for factorial of 7
Returning 40320 for factorial of 8
Returning 362880 for factorial of 9
Returning 3628800 for factorial of 10
Returning 39916800 for factorial of 11
Returning 479001600 for factorial of 12
Returning 6227020800 for factorial of 13
Returning 87178291200 for factorial of 14
Returning 1307674368000 for factorial of 15
Returning 20922789888000 for factorial of 16
Returning 355687428096000 for factorial of 17
Returning 6402373705728000 for factorial of 18
Returning 121645100408832000 for factorial of 19
Returning 2432902008176640000 for factorial of 20
Returning 51090942171709440000 for factorial of 21

51090942171709440000